<div layout="column" layout-padding>
  <h1 class='md-display-2'>Nfc Web app test</h1>
  <div layout="column">
    <!-- <md-button class="md-raised" ng-click="$ctrl.fun()"><div>Start scanning</div></md-button>> -->
    <md-button class="md-raised" ng-click="$ctrl.scanStart()"><div>
      <div ng-if="state">
        End procedure
              </div>
              <div ng-if="!state">
                Start scanning procedure
                      </div>
    </md-button>
  </div>

  <div ng-if="state">
    <!-- <div layout="row" layout-sm="column" layout-align="space-around"> -->
      <p id="displayNum"></p>
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            <span class="md-headline">You can scan your tag now</span>

    </div>
  <!-- </div> -->
  <div ng-if='!state'>
    <div ng-if="success===true">
<img src='check.svg'>
    </div>
  </div>
  </div>
  <style>
    
.card img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
  </style>
</div>
