<div layout="column" layout-padding>
  <h1 class='md-display-2'>Nfc Web app test</h1>
  <!-- Here is the card -->
  <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">
          <p id='name_of_person'></p>
        </span>
        <span class="md-subhead">
          <p id='tag_of_person'>
        </span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media"></div>
      </md-card-title-media>
    </md-card-title>
  </md-card>

  <div layout="column">
    <md-content>
    <md-button class="md-raised" ng-click="$ctrl.scanStart()" ><div>
      <div ng-if="state">
        End procedure
              </div>
              <div ng-if="!state">
                Start scanning procedure
                      </div>
    </md-button>

  </div>
</div>
  <div ng-if="state">
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            <span class="md-headline">You can scan your tag now</span>

    </div>
  <div ng-if='!state'>
    <div ng-if="success===true">
      Association was as success!
<img src='check.svg'>
    </div>
  </div>

  <md-button class="md-raised" ng-click="$ctrl.unpair()" ng-hide="hideValue" >
  Unpair
  </md-button>
  <p id='unpairStatus'></p>
</md-content>
</div>
</div>
